# Logs
logs
*.log
npm-debug.log*

#Webstorm shit
.idea

config.json*

#package lock, cuz fuck package lock
package-lock.json*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build

# Dependency directories
node_modules/